<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Water Tank Level</title>
  <link rel="stylesheet" href="/watertank/static/css/style.css" />
</head>
<body>
  {% include "_dashboard.html" %}

  <script src="https://cdn.jsdelivr.net/npm/chart.js@4/dist/chart.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  <script src="/watertank/static/js/dashboard.js"></script>
</body>
</html>
